// app global css in SCSS form
:root {
  --font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.font-mono {
  font-family: var(--font-family-mono);
}

.max-h-full {
  max-height: 100%;
}

@each $size-name, $value in $flex-gutter {
  .gap-#{$size-name} {
    gap: $value;
  }
}
